/* umumiy style */

@font-face {
  font-family: 'PTSansRegular';
  src: url('../fonts/PTSansRegular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PTSansBold';
  src: url('../fonts/PTSansBold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

body {
  color: #464646 !important;

  .v-application {
    font-family: PTSansRegular, sans-serif;
    font-weight: 400 !important;
  }

  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
}

ul {
  list-style: none;
  padding-left: 0 !important;
}

.v-text-field.v-text-field--enclosed .v-text-field__details {
  margin-bottom: 0 !important;
}

.v-application a {
  color: #464646 !important;
  text-decoration: none;
}

.v-application p {
  margin: 0;
}

.nf-bor-radius {
  border-radius: 10px;
}

.nf-star {
  color: red;
}

.nf-sime {
  font-weight: 600;
}

.nf-font-size {
  font-size: 26px;
}

.nf-font-size16 {
  font-size: 16px;
}

.nf-font-size14 {
  font-size: 14px;
}

.cur-pointer {
  cursor: pointer;
}

.link-color {
  color: #0092c8;
}

.chancellery-jurnal-link {
  .nf-active {
    color: #00a5e2 !important;
    border-bottom: 1px solid #00a5e2;
  }
}

/* umumiy style end */

.nf-access {
  background: url("../images/bg.png") repeat-y;
  background-position: bottom;
  height: 100%;
}

.base-color {
  color: #ff7c31;
}

.nf-bottom-line {
  border-bottom: 1px solid #d9d9d9;
}

.nf-vertical-right-line {
  border-right: 1px solid #d9d9d9;
}

.nf-vertical-left-line {
  border-left: 1px solid #d9d9d9;
}

/* uzbeknefetgaz-document-dep-document page start*/
.nf-document-dep-center-list {
  display: flex;
  justify-content: space-between;

  .active {
    margin-bottom: 0;
    color: #00a5e2;
    border-bottom: 1px solid #00a5e2;
  }

  li {
    cursor: pointer;
    margin-bottom: 1px;
  }
}

/* uzbeknefetgaz-document-dep-document page end*/

/* uzbeknefetgaz-document-control page start*/
.nf-document-control-dialog-table-th {
  display: flex;
  width: 350px;

  li {
    width: 115px;
  }
}

/* uzbeknefetgaz-document-control page end*/


/* uzbeknefetgaz-document-send page start*/
.nf-document-right-person-name {
  display: flex;
  justify-content: space-between;
}

/* uzbeknefetgaz-document-send page end*/


/* uzbeknefetgaz-assistend-otpravet page start*/

.assistend-otpravet-right-blog {
  display: flex;
  align-items: center;

  &-cricle {
    width: 70px;
    height: 70px;
    background: #0092c8;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.assistend-otpravet-right-list {
  padding: 12px 0;
  display: flex;

  span + span {
    margin-left: 70px;
  }
}

.assistend-otpravet-center-btn {
  text-align: right;
}

.assistend-otpravet-center-radio-element {
  display: flex;
  justify-content: space-around;
}

.assistend-otpravet-center-scrol-item {
  color: #0092c8;
}

.assistend-otpravet-center-menu {
  display: flex;

  li + li {
    margin-left: 75px;
  }

  li {
    margin-bottom: 1px;
    cursor: pointer;

    &.active {
      border-bottom: 1px solid #0092c8;
      color: #0092c8;
    }
  }
}

.ps__thumb-y {
  height: 25px !important;
  background: #00a5e2 !important;
}

.ps .ps__rail-y {
  background-color: #eee;
  opacity: .9;
}

/* uzbeknefetgaz-assistend-otpravet page end */


/* chancellery send razdel page start*/

.nf-dialog-btn {
  margin-left: auto;
}

/* chancellery send razdel page end*/

/* chancellery new page start*/
.nf-chancellery-new-btn-blog {
  display: flex;
  align-items: center;
}

/* chancellery new page end*/


/* chancellery-registration page start*/

.nf-chancellery-regstration-doc-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;

  li + li {
    margin-left: 20px;
  }

  &-arrow {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.nf-chancellery-regstration-right-img {
  display: flex;
  justify-content: space-between;
}

.nf-chancellery-regstration-right-text {
  display: flex;
  justify-content: space-between;
}

.nf-chancellery-regstration-btn {
  text-align: right;
}

.nf-chancellery-registration-title {
  font-weight: 600;
}


/* chancellery-registration page start*/


/* Uzbekneftegaz-document-istorya page start*/

.nf-document-history-temp {
  font-weight: 600;
}

.nf-document-history-message {
  background: #00a5e2;
  color: #fff;
  padding: 15px 18px;
  border-radius: 10px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -11px;
    border-right: 15px solid #00a5e2;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
}

.nf-document-history-time {
  color: #0092c8;
  padding-left: 30px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    width: 9px;
    height: 9px;
    background: #00a5e2;
  }
}

.nf-document-history-desc {
  div {
    padding: 10px 0;
  }

  padding-left: 30px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: -2px;
    bottom: -15px;
    transform: translateY(-50%);
    border-top: 6px solid #d9d9d9;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }

  &::before {
    content: '';
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 100%;
    background: #d9d9d9;
  }
}

.nf-document-history {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Uzbekneftegaz-document-istorya page end*/

/* Uzbekneftegaz-document-svyaz page start*/

.nf-info-top-list {
  display: flex;
  justify-content: flex-end;

  li + li {
    margin-left: 20px;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: #0092c8;
      cursor: pointer;

      span {

        background: #00a5e2;
      }

      svg {
        path {
          fill: #fff;
        }
      }
    }

    svg {
      path {
        fill: #a8a8a8;
      }
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      background: #f4f4f4;
      border-radius: 50%;
    }
  }
}

.nf-info-right-list {
  li + li {
    margin-top: 15px;
  }
}

.nf-info-right-title {
  font-size: 26px;
}

/* Uzbekneftegaz-document-svyaz page end*/


/* Uzbekneftegaz-resolution page start*/


.nf-resolution-user {
  display: flex;

  &-blog {
    background: #0092c8;
    border-radius: 15px;
    font-size: 14px;
    color: #fff;
    padding: 3px;
  }
}

.uzbekneftegaz-resolution-right-title {
  font-weight: 700;
  color: #0092c8;
}

.uzbekneftegaz-resolution-prent {
  padding: 14px;
  border-radius: 10px;
  background: #f4f4f4;
}

.uzbekneftegaz-resolution-person {
  color: #0092c8;
}

.uzbekneftegaz-resolution-download {
  color: #0092c8;
  cursor: pointer;
}

.uzbekneftegaz-resolution {
  color: #0092c8;
  font-weight: 700;
}

.nf-resolution-center-list {
  display: flex;
  justify-content: space-around;

  .active {
    color: #00a5e2;
    border-bottom: 1px solid #00a5e2;
  }

  li {
    cursor: pointer;
    margin-bottom: 1px;
  }
}

.nf-resolution-document-order {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.nf-resolution-document-text {
  font-size: 16px;
}

.nf-resolution-document {
  margin-top: 25px;
  cursor: pointer;

  &.active {
    color: #ff7d31;
  }

  &:hover {
    background: #00a5e2;
    color: #fff !important;
  }
}

.nf-resolution-document-number {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.nf-resolution-list {
  display: flex;
  justify-content: space-between;

  li {
    margin-bottom: 1px;
    cursor: pointer;

    &:hover {
      margin-bottom: 0;
      color: #00a5e2;
      border-bottom: 1px solid #00a5e2;
    }
  }
}

/* Uzbekneftegaz-resolution page end */


/* Uzbekneftegaz-new page start*/


.uzbekneftegaz-new-modal-desc {
  margin-top: -15px !important;
}

.uzbekneftegaz-new-title {
  font-size: 24px;
}

.nf-enter-btn {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Uzbekneftegaz-new page end */

/* Uzbekneftegaz-new page start*/

.nf-uzbekneftegaz-new-border {
  background: #fff;
  border: 1px solid #00a5e2 !important;

  &.active {
    color: #fff;
    background: #00a5e2 !important;
  }
}

.uzbekneftegaz-new-btn {
  border-radius: 15px;
  font-size: 14px;
  padding: 6px 10px;
  text-transform: uppercase;
  color: #fff;
}

/* Uzbekneftegaz-new page end */


/* Uzbekneftegaz-profile-assistant-profile page start*/


.uzbekneftegaz-profile-assistant-profile-list {
  li + li {
    margin-top: 20px;
  }
}

.uzbekneftegaz-profile-assistant-profile {
  &-title {
    font-size: 26px;
  }
}


/* Uzbekneftegaz-profile-assistant-profile page end */


/* Uzbekneftegaz-profile-assistant page start*/
.nf-input-file-remove {
  background: #e88124;
  color: #fff;
  border-radius: 15px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.nf-input-file-image {
  width: 200px !important;
  height: 200px !important;

  img {
    transform-origin: -42px 0px !important;
  }
}

.nf-input-file-blog {
  padding: 18px !important;
}

.nf-input-file-main {
  display: block !important;
}

.uzbekneftegaz-profile-assistant-title {
  font-size: 26px;
}

.uzbekneftegaz-profile-assistant-menu {
  display: flex;
  justify-content: space-between;

  .active {
    a {
      border-bottom: 1px solid #0092c8;
      color: #0092c8 !important;
    }
  }

  li {
    span {
      margin-right: 7px;
    }
  }
}

.uzbekneftegaz-profile-assistant-left-img {
  img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;

  }
}

/* Uzbekneftegaz-profile-assistant page end */


/* uzbekneftegaz received page start*/
.v-input__append-outer {
  position: absolute;
  right: -2px;
  cursor: pointer;
}

.uzbekneftegaz-received-btn-arrow {
  color: #0092c8;
  display: flex;
  align-items: center;

  span + span {
    margin-left: 10px;
  }
}

.uzbekneftegaz-received {
  display: flex;
  justify-content: space-around;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    width: 25%;
    text-align: center;
    padding: 18px 0;
    cursor: pointer;

    &.active {
      background: #fff;
      color: #0092c8;

      span {
        &::before {
          background: #0092c8;
        }
      }
    }

    span {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -10px;
        transform: translateY(-50%);
        width: 6px;
        height: 6px;
        background: #c8c8c8;
        border-radius: 50%;
      }
    }
  }
}

/* uzbekneftegaz received page end */


/* chancellery new doc page start*/
.chancellery-attach-file {
  background: #ff7d31;
  padding: 7px 10px;
  border-radius: 15px;
  text-transform: uppercase;
  color: #fff;
}

/* chancellery new doc page start*/

/* chancellery send doc page start*/
.nf-chancellery-send-dialog-selected {
  .v-treeview-node__checkbox {
    border-radius: 50%;
  }
}

.chancellery-send-document {
  display: flex;
  justify-content: space-between;
}

.chancellery-send-list-wrap {
  display: flex;
}

.chancellery-send-doc-recipients-element + .chancellery-send-doc-recipients-element {
  margin-top: 10px !important;
}

.chancellery-send-doc-recipients-element {
  font-weight: 700;
}

.chancellery-send-doc-blog-btn {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  text-align: right;
}

.chancellery-send-doc-add {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.chancellery-send-doc-paragraph {
  span {
    color: red
  }
}

.chancellery-send-doc-recipients {
  background: #00a5e2;
  border-radius: 15px;
  font-size: 14px !important;
  padding: 6px 10px;
  text-transform: uppercase;
  color: #fff;
}


/* chancellery send doc page start*/


/* chancellery jurnal page start*/


.data-picker {
  border: 1px solid red;
}

.chancellery-jurnal-save-title {
  font-size: 18px;
}

.chancellery-jurnal-title {
  font-size: 26px;
}

.chancellery-jurnal-link {
  .active {
    a {
      padding: 5px 0;
      color: #00a5e2 !important;

      span {
        border-bottom: 1px solid #00a5e2;
      }
    }
  }

  span {
    margin-right: 10px;
  }

  svg {
    path {
      fill: #000;
    }
  }
}

.chancellery-jurnal-link + .chancellery-jurnal-link {
  margin-left: 120px !important;
}


/* chancellery jurnal page start*/


/* appeal page start*/


.v-input__append-outer {
  border-top: 1px solid #ff7d31;
  border-right: 1px solid #ff7d31;
  border-bottom: 1px solid #ff7d31;

  margin: 0 !important;
  padding: 9px 9px 13px 9px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.v-input--selection-controls {
  margin-top: 0px;
}

.appeal-blog-span {
  background: #00a5e2;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  margin-left: 10px;
  font-size: 12px;
}

.appeal-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: space-between;

  .active {
    a {
      color: #00a5e2 !important;
      border-bottom: 1px solid #00a5e2;
    }
  }

  li {
    display: flex;
  }

}

.appeal-blog {
  display: flex;
  justify-content: space-between;
}

.appeal-title {
  font-size: 26px;

}

/* appeal page end */


/* chancellery appeal page start */

.chancellery-appeal-add-parent {
  display: flex;
}

.chancellery-appeal-add {
  height: 48px;
  width: 50px;
  background: #f4f4f4;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chancellery-appeal-input {
  display: flex;
  justify-content: space-between;

  &-element {
    flex: 0 0 48%;
  }
}

/* chancellery appeal page end */

/* home page start */
.nf-header-select-person {
  position: relative;
  cursor: pointer;

  &:hover {
    .nf-header-select-person-cabinet {
      opacity: 1;
      overflow: visible;
      visibility: visible;
    }
  }
}

.nf-header-select-person-cabinet p {
  cursor: pointer;

  &:hover {
    color: #0092c8;

    svg {
      path {
        fill: #0092c8;
      }
    }
  }
}

.nf-header-select-person-cabinet {
  opacity: 0;
  transition: 0.6s;
  overflow: hidden;
  visibility: hidden;

  p + p {
    margin-top: 15px;
  }

  position: absolute;
  top: 55px;
  right: 0;
  width: 250px;
  background: #f4f4f4;
  padding: 25px 30px;
  border-radius: 10px;
}

.nf-calendar-table {
}

.main-calendar-right-blog-btn {
  margin-top: 20px;
}

.main-calendar-right-btn:focus {
  outline: none;
}

.main-calendar-right-btn + .main-calendar-right-btn {
  margin-top: 20px;
}

.main-calendar-right-btn {
  &:hover {
    background: #00a5e2;
    color: #fff;

    svg {
      path {
        fill: #fff;
      }
    }
  }

  border: 1px solid #d9d9d9;
  width: 100%;
  border-radius: 10px;
  padding: 15px 15px;
  text-align: left;

  svg {
    margin-right: 14px;

    path {
      fill: #c9c9c9;
    }
  }
}

.nf-only-responsible {
  background: #00a5e2;
  border-radius: 15px;
  font-size: 14px;
  padding: 6px 10px;
  text-transform: uppercase;
  color: #fff;
  margin-left: 20px;
}

.nf-calendar {

  .v-calendar-weekly__head {
    background: #e5f6fc;
    height: 40px;

    .v-calendar-weekly__head-weekday {
      color: #0092c8 !important;
    }
  }

  .v-btn--absolute.v-btn--left, .v-btn--fixed.v-btn--left {
    right: 85px;
    left: initial;
  }

  .v-toolbar__title {
    color: #0092c8;
  }
}

.main-button {
  background: #0092c8;
}

.main-calendar-right {
  display: flex;
  align-items: flex-end;

  span {
    font-size: 16px;
    line-height: 1.1;
    color: #0092c8;
    margin-left: 20px;
  }
}

.main-calendar-right-title {
  font-size: 26px;
  margin: 0;
  line-height: 1;
}


.task-calendar {
  .v-event {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    position: absolute;
    right: 0;
    transform: translateX(-50%);
    width: 25px !important;
    height: 25px !important;
    text-align: center;
    line-height: 25px;
  }
}

//home page end
